#train-table th, td {
  display: inline-block;
  width: 16.575%;
}

header {
    position: relative;
    height: 346px;
    margin: 0 auto 2em auto;
    color: #000;
    background-image: url(../train.jpg);
}

h1 {
position: absolute;
left: 1em;
bottom: 0;
}

.card-header {
    background-color: #789cce;
    color: white;
    font-weight: bold; 
}

#add-train-btn {
    background-color: #014276;
    font-weight: bold;
}

#add-train-btn:hover {
    background-color: #789cce;
}